fastapi
uvicorn[standard]
python-multipart
opencv-python-headless
numpy
scikit-image
pytesseract
pillow
opencv-python
protobuf
pydantic
python-dotenv
openai
fitz
rapidfuzz
scipy
pymysql
pyjwt
passlib[bcrypt]
bcrypt
cryptography